<market-back-button></market-back-button>

<!-- TODO: Implementar mensagens de erro nos componentes de cadastro 
 TODO:
Implementar handler de erros -->
<!-- <div class="form-container flex">
  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <input matInput placeholder="ID" formControlName="id" />
      <mat-error *ngIf="form.get('id').touched"
        >{{ getErrorMessage("id") }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Nome" formControlName="name" />
      <mat-error *ngIf="form.get('name').touched"
        >{{ getErrorMessage("name") }}
      </mat-error>
    </mat-form-field>
    <button mat-fab class="button" type="submit">
      <mat-icon>add</mat-icon>
      Novo
    </button>
  </form>
</div> -->

<div class="flex"></div>
