<h1>Produtos</h1>
<market-back-button></market-back-button>

<div class="container flex">
  <mat-card *ngFor="let product of products$ | async">
    <mat-card-header>
      <div
        mat-card-avatar
        style="background-image: url('{{ product.photoURL }}')"
        class="card-image"
      ></div>
      <mat-card-title>{{ product.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button><mat-icon>edit</mat-icon></button>
      <button mat-icon-button><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
