.card-image {
  background-size: cover;
}

.flex {
  display: flex;
}

.container {
  align-items: center;
  flex-direction: column;
}

mat-card {
  width: 31.25rem;
  margin: 0.625rem;
}

.fab-button {
  margin: 0.3125rem;
}
