.toolbar {
  box-shadow: 10px 10px 5px grey;
}

.flexbox {
  display: flexbox;
}

mat-toolbar {
  background-color: #e0b1cb;
}
.flex {
  display: flex;
}
.spacer {
  width: 100%;
}

.toolbar-menus {
  float: right;
}
