.toolbar {
  box-shadow: 10px 10px 5px be95c4;
}

.flexbox {
  display: flexbox;
}

mat-toolbar {
  background-color: #be95c4;
  color: #000;
}
.flex {
  display: flex;
}
.spacer {
  width: 100%;
}

.toolbar-menus {
  float: right;
}
