.item {
  transition: 0.3s;
  opacity: 0.6;
  margin: 10px;
}

.item:hover {
  transform: scale(1.1);
  transition: 0.3s;
  opacity: 1;
}

.item-name {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 20pt;
}
